.footer {
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.footer__link {
  text-decoration: none;
  color: #f38181;
}

.footer-form {
  display: flex;
}

.footer-form__email {
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1.0714rem;
  border: 1px solid #e5e5e5;
  height: 40px;
  width: 230px;
}

.footer-form__email::placeholder {
  color: #cccccc;
}

.footer-form__btn {
  background-color: #95e1d3;
  color: #ffffff;
  box-shadow: none;
  border: none;
  height: 40px;
  width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
