.header-wrapper {
  text-align: center;
  min-height: 1000px;
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  padding-top: 22px;
  margin-bottom: 164px;
}

.logo__link {
  @include transition;
  font-size: 2.1429rem;
  font-weight: bold;
  &:hover,
  &:focus {
    color: $header-hover-color;
  }
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 50px;
}

.main-menu__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 56px;
  }
}

.main-menu__link {
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $header-hover-color;
    opacity: 0;
    @include transition;
    margin: 8px auto 0px;
    width: 50px;
    height: 3px;
  }

  &:hover,
  &:focus {
    color: $header-hover-color;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.header-nav-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 76px;
}

.header-buttons__item {
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  &:hover .header-buttons__svg {
    fill: $header-hover-color;
  }
}

.header-buttons__svg {
  @include transition;
  fill: #ffffff;
  width: 18px;
  height: 18px;
}

.banner {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.banner__text {
  font-family: $script-font;
  font-size: 5.1429rem;
  text-transform: capitalize;
  margin-bottom: 38px;
}

.banner__title {
  font-size: 10.7143rem;
  text-transform: uppercase;
  line-height: 10rem;
  margin-bottom: 108px;
  letter-spacing: -0.027em;
}

.banner__button {
  padding: 10px 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid $header-text-color;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
}
