.team {
  padding-bottom: 82px;
}

.team__text {
  padding-top: 40px;
  color: #999999;
  font-family: $secondary-font;
  font-size: 1.0714rem;
  line-height: 1.7143rem;
  width: 980px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 88px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  &__item {
    text-align: center;
    width: 380px;
  }
}

.team-list-wrapper {
  position: relative;
  &:hover .team-list-wrapper__image {
    transform: translate(-10px, -10px);
  }
  &__image {
    @include transition;
  }
}

.overlay-team {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  @include transition;
  &:hover,
  &:focus,
  &:focus-within {
    opacity: 1;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px 0px #95e1d3;
  }
}

.overlay-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $header-hover-color;
  @include transition;
  &:not(:last-child) {
    border-right: 1px solid $titles-underline-color;
  }
  &:hover,
  &:focus {
    background-color: $titles-underline-color;
  }
  &:hover .overlay-team__svg {
    fill: $header-text-color;
  }
}

.overlay-team__svg {
  fill: $titles-underline-color;
  width: 32px;
  height: 32px;
}

.team-list__name {
  text-transform: uppercase;
  color: $titles-color;
  margin: 28px 0px 10px;
}

.team-list__occupation {
  font-family: $secondary-font;
  font-size: 1.0714rem;
  font-weight: 300;
  font-style: italic;
  color: $text-color;
  margin: 0px;
}
