html {
  font-family: $main-font;
  font-size: 14px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  text-decoration: none;
  color: $header-text-color;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
